:root {
  --text-main: #757575;
  --text-accent: #2196f3;
  --text-heading: #212121;
  --text-white: #ffffff;

  --bg-main: #ffffff;
  --bg-section: #2f303a;
  --bg-accent: #f5f4fa;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: Roboto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* header */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.logo-accent {
  color: var(--text-accent);
}

.contacts,
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav {
  color: var(--text-heading);
}

.link:hover,
.link:focus {
  color: var(--text-accent);
}

.site-nav .is-active-page {
  color: var(--text-accent);
}
/* main */

/* sectin-order */
.sectin-order {
  background: var(--bg-section);
  text-align: center;
}

.sectin-order h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--text-white);
  text-transform: uppercase;
}

.sectin-order button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-white);
  background: var(--text-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.sectin-order button:hover,
.sectin-order button:focus {
  background: #188ce8;
}

/* benefits-section */
.benefits-section h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-heading);
}

.benefits-section p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* work-section */
.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-heading);
}

/* team-section */
.team-section {
  background: var(--bg-accent);
}

.card {
  width: 270px;
  background: var(--bg-main);
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-section .card-description {
  padding: 30px;
}

.team-section h3 {
  color: var(--text-heading);
  font-weight: 500;
  font-size: inherit;

  margin: 0 0 10px 0;
}

.team-section p {
  margin: 0;
}

/* footer */
.footer {
  background: var(--bg-section);
}

.footer .logo {
  color: var(--text-white);
}
.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.address p {
  color: var(--text-white);
}

/*  portfolio*/
.portfolio {
  font-family: Roboto;
  background: var(--bg-main);
}

.portfolio-selection .btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-heading);
  background: var(--bg-accent);
  border-radius: 4px;
  border: none;
}

.portfolio-selection .btn:hover,
.portfolio-selection .btn:focus {
  color: var(--text-white);
  background: var(--text-accent);
  cursor: pointer;
}

.portfolio-projects .card-description {
  padding: 20px;
}

.portfolio-projects a {
  text-decoration: none;
  color: inherit;
}

.portfolio-projects h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-heading);
  margin: 0 0 4px 0;
}

.portfolio-projects p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-main);
  margin: 0;
}
